# 哔哩哔哩
host-suffix, api.bilibili.com, proxy
host-suffix, grpc.biliapi.net, proxy
host-suffix, passport.bilibili.com, proxy
host-suffix, passport.bilibili.com, proxy
# 知乎IP定位接口
ip-cidr, 103.41.167.0/24, proxy
host-suffix, zhihu.com, proxy
# 微博IP定位接口
host-suffix, api.weibo.cn, proxy
host-suffix, sina.cn, proxy

